body {
    font-family: arial, sans-serif;
}

#message-container,
#action-container,
#code-container {
    clear: both;
    padding: 10px;
}

.container-title {
    background: #ddd;
    border: 1px solid #888;
    padding: 5px;
}

.container {
    margin: 10px;
    clear: both;
}
#message-container textarea {
    font-family: arial, sans-serif;
}

.controls {
    list-style-type: none;
}

.mode-controls {
    margin: 25px 0 0 0;
    padding: 0;
}

.mode-controls li {
    float: left;
    margin: 0 5px 0 0;
    height: 40px;
    position: relative;
}

.mode-contols label, #mode-controls input {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mode-controls input[type="radio"] {
    opacity: 0;
    z-index: 100;
}

.mode-controls input[type="radio"]:checked + label {
    background: #0f0;
}

.mode-controls label {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    z-index: 90;
}

.mode-controls label:hover {
    background: #ff0;
}
